/* classes, tags, ids */
@font-face {
  font-family: si;
  src: url(../fonts/socicon.eot?#iefix) format(embedded-opentype), url(../fonts/socicon.woff) format(woff), url(../fonts/socicon.ttf) format(truetype), url(../fonts/socicon.svg) format(svg);
  font-weight: 400;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: si;
    src: url(../fonts/socicon.svg) format(svg);
  }
}
.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.soc li a {
  font-family: si!important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 19px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: #ffffff;
  background-color: none;
}
.soc-icon-last {
  margin: 0 !important;
}
.soc-vkontakte {
  background-color: #5a7fa6;
}
.soc-vkontakte:before {
  content: ';';
}
.soc-facebook {
  background-color: #3e5b98;
}
.soc-facebook:before {
  content: 'b';
}
.soc-twitter {
  background-color: #4da7de;
}
.soc-twitter:before {
  content: 'a';
}
.soc-google {
  background-color: #d93e2d;
}
.soc-google:before {
  content: 'c';
}
.soc-linkedin {
  background-color: #3371b7;
}
.soc-linkedin:before {
  content: 'j';
}
.soc-youtube {
  background-color: #e02a20;
}
.soc-youtube:before {
  content: 'r';
}
.soc-pinterest {
  background-color: #c92619;
}
.soc-pinterest:before {
  content: 'd';
}
.display {
  display: block !important;
}
.hidden {
  display: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.content-center {
  text-align: center;
}
.content-left {
  text-align: left;
}
.content-right {
  text-align: right;
}
.op {
  opacity: 1;
}
.op:hover {
  opacity: 0.85;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.divider-circle {
  display: block;
  margin: 10px auto;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #e74c3c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;
}
.current,
.active {
  color: #e74c3c;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.inner-sm {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.inner-md {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
.order-button {
  display: block;
  box-sizing: border-box;
  width: 330px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 24px;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #2c3e50;
  border-radius: 6px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.order-button:hover {
  background: transparent;
  color: #ffffff;
}
.order-button-comment {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.more {
  font-size: 14px;
  color: #e74c3c;
  font-weight: normal;
}
.more:after {
  content: '»';
  margin-left: 1px;
  color: #e74c3c;
  font-weight: lighter;
}
.more:hover {
  opacity: 0.7;
}
.color-red {
  color: #e74c3c;
}
.color-dark {
  color: #2c3e50;
}
.color-white {
  color: #ffffff;
}
.color-grey {
  color: #e9e9e9;
}
.color-link {
  color: #65768b;
}
.dark-block,
.white-block,
.grey-block {
  width: 100%;
  min-width: 940px;
}
.dark-block {
  background-color: #2c3e50;
}
.white-block {
  background-color: #ffffff;
}
.grey-block {
  background-color: #e9e9e9;
}
.light-pattern {
  background-image: url('../img/pattern1.png');
  background-repeat: repeat;
}
.dark-pattern {
  background-image: url('../img/pattern2.png');
  background-repeat: repeat;
}
.fixed-padding {
  padding: 70px 0;
}
body {
  width: 100%;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}
.top-panel {
  margin-bottom: 45px;
}
.tp-menu,
.tp-sign {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
.tp-menu li,
.tp-sign li {
  display: inline-block;
  margin: 0 15px 0 10px;
  vertical-align: top;
}
.tp-menu li a,
.tp-sign li a {
  font-size: 14px;
  color: #ffffff;
}
.tp-menu li a:hover,
.tp-sign li a:hover {
  color: #e74c3c;
}
.middle-panel {
  padding-bottom: 30px;
  vertical-align: top;
  position: relative;
}
.left-btn-block,
.right-btn-block {
  position: absolute;
  top: 50%;
  margin-top: -34px;
  text-align: center;
}
.left-btn-block {
  margin-left: 25px;
  left: 0;
}
.right-btn-block {
  margin-right: 25px;
  right: 0;
}
.tp-logo {
  width: 270px;
  height: 110px;
  background: url('../img/logo.png') no-repeat center center;
}
.outline-link {
  display: block;
  width: 210px;
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #2c3e50;
  color: #ffffff;
}
.outline-link:hover {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
.link {
  font-size: 14px;
  color: #65768b;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
.bottom-panel {
  padding-bottom: 20px;
}
.inform {
  display: inline-block;
  width: 315px;
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
  margin: 0 auto;
  margin-right: -5px;
}
.inform span {
  display: block;
  font-size: 36px;
  font-weight: normal;
}
.inform.inform-large {
  font-size: 16px;
}
.inform.inform-large span {
  font-size: 60px;
}
.select-order {
  overflow: hidden;
}
.select-order .line {
  position: absolute;
  height: 1px;
  width: 400px;
  border-bottom: 2px solid #9eaab8;
  top: 50%;
  margin-top: -3px;
}
.select-order .line-left {
  left: -320px;
}
.select-order .line-right {
  right: -320px;
}
.select-order .icons-wrapper {
  margin-top: 40px;
  position: relative;
}
.select-order .serv-icon {
  display: inline-block;
  vertical-align: top;
  width: 128px;
  height: 128px;
  background: url('../img/service-icons/bgicon.png') no-repeat center center;
  margin: 0 auto;
  margin-left: 15px;
  margin-right: 10px;
}
.select-order .serv-icon:hover {
  background: url('../img/service-icons/bgicon-active.png') no-repeat center center;
}
.select-order .serv-icon:hover span {
  color: #e74c3c;
}
.select-order .serv-icon .fill-wrapper {
  height: 50px;
}
.select-order .serv-icon span {
  display: block;
  width: 100px;
  margin: 0 auto;
  font-size: 14px;
  color: #2c3e50;
}
/* icons bg	*/
.serv-icon .icon-img {
  display: block;
  margin: 20px auto 0 auto;
}
.gl-slider {
  width: 100%;
  height: 226px;
  position: relative;
  overflow: hidden;
}
.gl-slider .slide {
  padding: 0;
  margin: 0;
  left: 50% !important;
  margin-left: -960px;
}
.gl-slider .slide img {
  width: 1920px;
  height: 226px;
}
.gl-slider .figure-inner {
  width: 100%;
  height: 100%;
}
.gl-slider .figcaption-wrapper {
  width: 938px;
  height: 163px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -469px;
  margin-top: -81.5px;
  background: url('../img/slide-block.png') no-repeat center center;
}
.gl-slider figcaption {
  padding: 30px 150px;
  text-align: center;
}
.gl-slider .prewbutton,
.gl-slider .nextbutton {
  display: block;
  width: 15px;
  height: 34px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  opacity: 0.8;
}
.gl-slider .prewbutton:hover,
.gl-slider .nextbutton:hover {
  opacity: 1;
}
.gl-slider .prewbutton {
  left: 15px;
  background: url('../img/arrow-left.png') no-repeat center center;
}
.gl-slider .nextbutton {
  right: 15px;
  background: url('../img/arrow-right.png') no-repeat center center;
}
.gl-slider h2 {
  font-size: 36px;
  font-weight: lighter;
}
.gl-slider h3 {
  margin-bottom: 0;
}
.hiw-icons {
  margin-bottom: 65px;
}
.hiw-icons .hiw-icon,
.hiw-icons .arrow {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.hiw-icons .hiw-icon {
  width: 286px;
  margin: 0 auto;
}
.hiw-icons .fill-wrapper {
  height: 110px;
}
.hiw-icons figcaption {
  font-size: 26px;
}
.hiw-icons .arrow {
  width: 44px;
  height: 32px;
  margin: 40px 54px 0 50px;
}
.hiw-icons .arrow-up {
  background: url('../img/arrow-red-up.png') no-repeat center center;
}
.hiw-icons .arrow-down {
  background: url('../img/arrow-red-down.png') no-repeat center center;
}
.why-use-it h2 {
  font-size: 30px;
  position: relative;
  height: 85px;
}
.why-use-it .txt {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  margin-top: 27px;
}
.why-use-it .small-logo {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 210px;
  height: 85px;
  top: -28px;
  background: url('../img/logo.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.why-use-it {
  overflow: hidden;
}
.why-use-it .line {
  position: absolute;
  height: 1px;
  width: 400px;
  border-bottom: 2px solid #ffffff;
  top: 50%;
  margin-top: -3px;
}
.why-use-it .line-left {
  left: -320px;
}
.why-use-it .line-right {
  right: -320px;
}
.why-use-it .wui-circle {
  margin-top: 45px;
  position: relative;
}
.why-use-it .wui-left,
.why-use-it .wui-right {
  width: 345px;
  height: 576px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.why-use-it .wui-left {
  background: url('../img/circle-lefthalf.png') no-repeat center center;
  padding: 65px 20px 65px 110px;
}
.why-use-it .wui-right {
  background: url('../img/circle-righthalf.png') no-repeat center center;
  padding: 65px 100px 65px 20px;
}
.why-use-it figure {
  margin-bottom: 20px;
}
.why-use-it figcaption {
  font-size: 22px;
  font-weight: normal;
}
.why-use-it .fill-wrapper {
  height: 85px;
}
.why-use-it .advantages-block p {
  line-height: 18px;
}
.trns-slider {
  position: relative;
  width: 870px !important;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
.trns-slider .owl-prev,
.trns-slider .owl-next {
  position: absolute;
  display: block;
  width: 15px;
  height: 34px;
  top: 40%;
  margin-top: -17px;
  text-indent: -9999px;
  opacity: 0.6;
}
.trns-slider .owl-prev:hover,
.trns-slider .owl-next:hover {
  opacity: 1;
}
.trns-slider .owl-prev {
  left: 0;
  background: url('../img/arrow-dark-left.png') no-repeat center center;
}
.trns-slider .owl-next {
  right: 0;
  background: url('../img/arrow-dark-right.png') no-repeat center center;
}
.trns-slider .owl-item {
  position: relative;
}
.trns-slider .owl-item img {
  width: 130px;
  height: 130px;
}
.trns-slider .owl-item span {
  visibility: hidden;
  font-size: 18px;
  color: #65768b;
}
.trns-slider .owl-item span:hover {
  color: #2f3741;
}
.trns-slider .hover {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 40%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  background: url('../img/hover-pointer.png') no-repeat center center;
  z-index: 100;
}
.review-slider {
  position: relative;
  width: 870px !important;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
.review-slider .owl-prev,
.review-slider .owl-next {
  position: absolute;
  display: block;
  width: 15px;
  height: 34px;
  top: 50%;
  margin-top: -17px;
  text-indent: -9999px;
  opacity: 0.6;
}
.review-slider .owl-prev:hover,
.review-slider .owl-next:hover {
  opacity: 1;
}
.review-slider .owl-prev {
  left: 0;
  background: url('../img/arrow-red-left.png') no-repeat center center;
}
.review-slider .owl-next {
  right: 0;
  background: url('../img/arrow-red-right.png') no-repeat center center;
}
.review-slider img.left {
  margin: 0 35px 0 65px;
}
.review-slider .review-body {
  width: 370px;
  text-align: left;
}
.review-slider .review-body h4,
.review-slider .review-body h5 {
  text-align: left;
  font-weight: lighter;
}
.review-slider .review-body h4 {
  font-size: 20px;
  color: #2c3e50;
}
.review-slider .review-body h5 {
  font-size: 18px;
  color: #3e5771;
}
.review-slider .review-body p {
  height: 85px;
  font-size: 16px;
  color: #354b60;
  line-height: 20px;
}
.review-slider .review-mark span {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-size: 18px;
}
.review-slider .review-mark .rwm-bg,
.review-slider .review-mark .rwm-bar,
.review-slider .review-mark .rwm-pattern {
  width: 131px;
  height: 19px;
}
.review-slider .review-mark .rwm-bg {
  display: inline-block;
  position: relative;
  vertical-align: -4px;
  background: #f8c9c4;
}
.review-slider .review-mark .rwm-bar {
  width: 60%;
  position: absolute;
  z-index: 2;
  background: #e74c3c;
}
.review-slider .review-mark .rwm-pattern {
  position: absolute;
  z-index: 3;
  background: url('../img/rwm-pattern.png') no-repeat center center;
}
footer.main {
  overflow: hidden;
  padding: 0 0 70px 0;
}
footer.main .line {
  position: absolute;
  height: 1px;
  width: 400px;
  border-bottom: 2px solid #e74c3c;
  top: 50%;
  margin-top: -1px;
}
footer.main .line-left {
  left: -320px;
}
footer.main .line-right {
  right: -320px;
}
.ft-top-panel {
  position: relative;
}
.bt-logo {
  width: 208px;
  height: 84px;
  background: url('../img/logo.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.ft-nav-block {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  margin-top: 30px;
  width: 184px;
  text-align: center;
}
.ft-nav-block h6 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #e74c3c;
  font-weight: lighter;
}
.ft-nav-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ft-nav-block ul li {
  display: block;
}
.ft-nav-block ul li a {
  font-size: 14px;
  color: #2c3e50;
}
.ft-nav-block ul li a:hover {
  color: #698aac;
}
.ft-bottom-panel {
  margin-top: 60px;
}
.ft-bottom-panel nav {
  margin-left: 50px;
}
.ft-bottom-panel .copyrights {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: #2c3e50;
  font-style: normal;
}
.hodlogo {
  display: block;
  margin-right: 25px;
  width: 96px;
  height: 64px;
  background: url('../img/hodlogo.png') no-repeat center center;
}
@media screen and (max-width: 1200px) {
  .inner-md {
    width: 960px;
  }
  .hiw-icons .hiw-icon {
    width: 215px;
  }
  .select-order .line {
    display: none;
  }
}
/* global tags */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
}
h1,
h2 {
  margin-bottom: 10px;
  font-size: 48px;
}
h3 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 45px;
}
