@dark-color: #2c3e50;
@white-color: #fff;
@grey-color: #e9e9e9;
@link-color: #65768b;
@red-color: #e74c3c;

/* classes, tags, ids */

@font-face {
    font-family:si;
    src:    url(../fonts/socicon.eot?#iefix) 
                format(embedded-opentype),
            url(../fonts/socicon.woff) format(woff),
            url(../fonts/socicon.ttf) format(truetype),
            url(../fonts/socicon.svg) format(svg);
    font-weight:400;
    font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    background-color: none;
}



.soc-icon-last{
    margin:0 !important;
}

.soc-vkontakte {
    background-color: #5a7fa6;
}
.soc-vkontakte:before {
    content:';';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest:before {
    content:'d';
}


.display {
	display: block !important;
}
.hidden {
	display: none !important;
}
.left {
	float: left;
}
.right {
	float: right;
}
.content-center {
	text-align: center;
}
.content-left {
	text-align: left;
}
.content-right {
	text-align: right;
}
.op {
	opacity: 1;
}
.op:hover {
	opacity: 0.85;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.divider-circle {
	display: block;
	margin: 10px auto;
	width: 10px;
	height: 10px;
	background: transparent;
	border: 1px solid @red-color;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	opacity: 0.5;
}
.current, .active {
	color: @red-color;
}
.clearfix {
	content: '';
	display: table;
	clear: both;
}
.inner-sm {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
.inner-md {
	width: 1180px;
	margin: 0 auto;
	position: relative;
}
.order-button {
	display: block;
	box-sizing: border-box;
	width: 330px;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 24px;
	border: 1px solid @white-color;
	background: @white-color;
	color: @dark-color;
	border-radius: 6px;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	&:hover {
		background: transparent;
		color: @white-color;
	}
}
.order-button-comment {
	display: inline-block;
	margin-top: 10px;
	font-size: 16px;
}
.more {
	font-size: 14px;
	color: @red-color;
	font-weight: normal;

	&:after {
		content: '»';
		margin-left: 1px;
		color: @red-color;
		font-weight: lighter;
	}
	&:hover {
		opacity: 0.7;
	}
}
.color-red {
	color: @red-color;
}
.color-dark {
	color: @dark-color;
}
.color-white {
	color: @white-color;
}
.color-grey {
	color: @grey-color;
}
.color-link {
	color: @link-color;
}
.dark-block, .white-block, .grey-block {
	width: 100%;
	min-width: 940px;
}
.dark-block {
	background-color: @dark-color;
}
.white-block {
	background-color: @white-color;
}
.grey-block {
	background-color: @grey-color;
}
.light-pattern {
	background-image: url('../img/pattern1.png');
	background-repeat: repeat;
}
.dark-pattern {
	background-image: url('../img/pattern2.png');
	background-repeat: repeat;
}
.fixed-padding {
	padding: 70px 0;
}

body {
	width: 100%;
	background: @white-color;
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
}
.top-panel {
	margin-bottom: 45px;
}
.tp-menu, .tp-sign {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 15px 0 10px;
		vertical-align: top;

		a {
			font-size: 14px;
			color: @white-color;
		}
		a:hover {
			color: @red-color;
		}
	}
}
.middle-panel {
	padding-bottom: 30px;
	vertical-align: top;
	position: relative;
}
.left-btn-block, .right-btn-block {
	position: absolute;
	top: 50%;
	margin-top: -34px;
	text-align: center;
} 
.left-btn-block {
	margin-left: 25px;
	left: 0;
}
.right-btn-block {
	margin-right: 25px;
	right: 0;
}
.tp-logo {
	width: 270px;
	height: 110px;
	background: url('../img/logo.png') no-repeat center center;
}
.outline-link {
	display: block;
	width: 210px;
	padding: 8px 0;
	text-align: center;
	font-size: 18px;
	border: 1px solid @white-color;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: @dark-color;
	color: @white-color;
}
.outline-link:hover {
	border: 1px solid @red-color;
	color: @red-color;
}
.link {
	font-size: 14px;
	color: @link-color;
	text-decoration: underline;
}
.link:hover {
	text-decoration: none;
}
.bottom-panel {
	padding-bottom: 20px;
}
.inform {
	display: inline-block;
	width: 315px;
	font-size: 14px;
	opacity: 0.6;
	text-align: center;
	margin: 0 auto;
	margin-right: -5px;

	span {
		display: block;
		font-size: 36px;
		font-weight: normal;
	}
}
.inform.inform-large {
	font-size: 16px;

	span {
		font-size: 60px;
	}
}
.select-order {
	overflow: hidden;

	.line {
		position: absolute;
		height: 1px;
		width: 400px;
		border-bottom: 2px solid lighten(@link-color, 20%);
		top: 50%;
		margin-top: -3px;
	}
	.line-left {
		left: -320px;
	}
	.line-right {
		right: -320px;
	}
	.icons-wrapper {
		margin-top: 40px;
		position: relative;
	}
	.serv-icon {
		display: inline-block;
		vertical-align: top;
		width: 128px;
		height: 128px;
		background: url('../img/service-icons/bgicon.png') no-repeat center center;
		margin: 0 auto;
		margin-left: 15px;
		margin-right: 10px;

		&:hover {
			background: url('../img/service-icons/bgicon-active.png') no-repeat center center;

			span {
				color: @red-color;
			}
		}
		.fill-wrapper {
			height: 50px;
		}
		span {
			display: block;
			width: 100px;
			margin: 0 auto;
			font-size: 14px;
			color: @dark-color;
		}
	}
}


/* icons bg	*/
.serv-icon .icon-img {
	display: block;
	margin: 20px auto 0 auto;
}



.gl-slider {
	width: 100%;
	height: 226px;
	position: relative;
	overflow: hidden;

	.slide {
		padding: 0;
		margin: 0;
		left: 50% !important;
		margin-left: -960px;

		img {
			width: 1920px;
			height: 226px;
		}
	}
	.figure-inner {
		width: 100%;
		height: 100%;
		//position: relative;
	}
	.figcaption-wrapper {
		width: 938px;
		height: 163px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -469px;
		margin-top: -81.5px;
		background: url('../img/slide-block.png') no-repeat center center;
	}
	figcaption {
		padding: 30px 150px;
		text-align: center;
	}
	.prewbutton, .nextbutton {
		display: block;
		width: 15px;
		height: 34px;
		position: absolute;
		top: 50%;
		margin-top: -17px;
		opacity: 0.8;
	}
	.prewbutton:hover, .nextbutton:hover {
		opacity: 1;
	}
	.prewbutton {
		left: 15px;
		background: url('../img/arrow-left.png') no-repeat center center;
	}
	.nextbutton {
		right: 15px;
		background: url('../img/arrow-right.png') no-repeat center center;
	}
	h2 {
		font-size: 36px;
		font-weight: lighter;
	}
	h3 {
		margin-bottom: 0;
	}
}
.hiw-icons {
	margin-bottom: 65px;

	.hiw-icon, .arrow {
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
	}
	.hiw-icon {
		width: 286px;
		margin: 0 auto;
	}
	.fill-wrapper {
		height: 110px;
	}
	figcaption {
		font-size: 26px;
	}
	.arrow {
		width: 44px;
		height: 32px;
		margin: 40px 54px 0 50px;
	}
	.arrow-up {
		background: url('../img/arrow-red-up.png') no-repeat center center;
	}
	.arrow-down {
		background: url('../img/arrow-red-down.png') no-repeat center center;
	}
}
.why-use-it {

	h2 {
		font-size: 30px;
		position: relative;
		height: 85px;
	}
	.txt {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		margin-top: 27px;
	}
	.small-logo {
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
		width: 210px;
		height: 85px;
		top: -28px;
		background: url('../img/logo.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
}
.why-use-it {
	overflow: hidden;

	.line {
		position: absolute;
		height: 1px;
		width: 400px;
		border-bottom: 2px solid @white-color;
		top: 50%;
		margin-top: -3px;
	}
	.line-left {
		left: -320px;
	}
	.line-right {
		right: -320px;
	}
	.wui-circle {
		margin-top: 45px;
		position: relative;
	}
	.wui-left, .wui-right {
		width: 345px;
		height: 576px;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.wui-left {
		background: url('../img/circle-lefthalf.png') no-repeat center center;
		padding: 65px 20px 65px 110px;
	}
	.wui-right {
		background: url('../img/circle-righthalf.png') no-repeat center center;
		padding: 65px 100px 65px 20px;
	}
	figure {
		margin-bottom: 20px;
	}
	figcaption {
		font-size: 22px;
		font-weight: normal;
	}
	.fill-wrapper {
		height: 85px;
	}
	.advantages-block {

		p {
			line-height: 18px;
		}
	}
}
.trns-slider {
	position: relative;
	width: 870px !important;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;

	.owl-prev, .owl-next {
		position: absolute;
		display: block;
		width: 15px;
		height: 34px;
		top: 40%;
		margin-top: -17px;
		text-indent: -9999px;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
	.owl-prev {
		left: 0;
		background: url('../img/arrow-dark-left.png') no-repeat center center;
	}
	.owl-next {
		right: 0;
		background: url('../img/arrow-dark-right.png') no-repeat center center;
	}
	.owl-item {
		position: relative;

		img {
			width: 130px;
			height: 130px; 
		}
		span {
			visibility: hidden;
			font-size: 18px;
			color: @link-color;

			&:hover {
				color: darken(@link-color, 25%);
			}
		}
	}
	.hover {
		position: absolute;
		width: 42px;
		height: 42px;
		top: 40%;
		left: 50%;
		margin-left: -21px;
		margin-top: -21px;
		background: url('../img/hover-pointer.png') no-repeat center center;
		z-index: 100;
	}
}
.review-slider {
	position: relative;
	width: 870px !important;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;

	.owl-prev, .owl-next {
		position: absolute;
		display: block;
		width: 15px;
		height: 34px;
		top: 50%;
		margin-top: -17px;
		text-indent: -9999px;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
	.owl-prev {
		left: 0;
		background: url('../img/arrow-red-left.png') no-repeat center center;
	}
	.owl-next {
		right: 0;
		background: url('../img/arrow-red-right.png') no-repeat center center;
	}
	img.left {
		margin: 0 35px 0 65px;
	}
	.review-body {
		width: 370px;
		text-align: left;

		h4, h5 {
			text-align: left;
			font-weight: lighter;
		}
		h4 {
			font-size: 20px;
			color: @dark-color;
		}
		h5 {
			font-size: 18px;
			color: lighten(@dark-color, 10%);
		}
		p {
			height: 85px;
			font-size: 16px;
			color: lighten(@dark-color, 5%);
			line-height: 20px;
		}
	}
	.review-mark {

		span {
			display: inline-block;
			vertical-align: top;
			margin-right: 5px;
			font-size: 18px;
		}
		.rwm-bg, .rwm-bar, .rwm-pattern {
			width: 131px;
			height: 19px;
		}
		.rwm-bg {
			display: inline-block;
			position: relative;
			vertical-align: -4px;
			background: lighten(@red-color, 30%);
		}
		.rwm-bar {
			width: 60%;
			position: absolute;
			z-index: 2;
			background: @red-color;
		}
		.rwm-pattern {
			position: absolute;
			z-index: 3;
			background: url('../img/rwm-pattern.png') no-repeat center center;
		}
	}
}
footer.main {
	overflow: hidden;
	padding: 0 0 70px 0;

	.line {
		position: absolute;
		height: 1px;
		width: 400px;
		border-bottom: 2px solid @red-color;
		top: 50%;
		margin-top: -1px;
	}
	.line-left {
		left: -320px;
	}
	.line-right {
		right: -320px;
	}
}
.ft-top-panel {
	position: relative;
}
.bt-logo {
	width: 208px;
	height: 84px;
	background: url('../img/logo.png') no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.ft-nav-block {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	margin-top: 30px;
	width: 184px;
	text-align: center;

	h6 {
		margin-bottom: 5px;
		font-size: 18px;
		color: @red-color;
		font-weight: lighter;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: block;

			a {
				font-size: 14px;
				color: @dark-color;

				&:hover {
					color: lighten(@dark-color, 30%);
				}
			}
		}
	}
}
.ft-bottom-panel {
	margin-top: 60px;

	nav {
		margin-left: 50px;
	}
	.copyrights {
		display: block;
		margin-top: 20px;
		font-size: 12px;
		color: @dark-color;
		font-style: normal;
	}
}
.hodlogo {
	display: block;
	margin-right: 25px;
	width: 96px;
	height: 64px;
	background: url('../img/hodlogo.png') no-repeat center center;
}

@media screen and (max-width: 1200px) {

	.inner-md {
		width: 960px;
	}
	.hiw-icons .hiw-icon {
		width: 215px;
	}
	.select-order .line {
		display: none;
	}
}

/* global tags */
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-align: center;
}
h1, h2 {
	margin-bottom: 10px;
	font-size: 48px;
}
h3 {
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 45px;
}